---
layout: default
pagination:
  enabled: true
---

<style>
    header {
        margin-bottom: 0 !important;
    }
</style>

<div>
{{ content }}

{% if site.gitment.enable %}
<hr>
<div id="gitment-container"></div>
<script src="https://billts.site/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '的评论',
        owner: '{{site.gitment.github_id}}',
        repo: '{{site.gitment.repo}}',
        oauth: {
            client_id: '{{site.gitment.client_id}}',
            client_secret: '{{site.gitment.client_secret}}',
        },
    });
    gitment.render('gitment-container')
</script>
{% endif %}
</div>